@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@charset "UTF-8";

*,
*:before,
*:after {
	outline: 					none;
	-webkit-box-sizing: 		border-box;
	-moz-box-sizing: 			border-box;
	box-sizing: 				border-box;
}

html {
	height: 					100%;
}
body {
	font-family:  				"Open Sans", sans-serif;
	background: 				#9dbf68 url(../images/body-bg.jpg) no-repeat;
	background-size: 			cover;
	margin: 					0;
}

a {
	color: 						inherit;
	text-decoration:  			none;
}

/* TOOLTIPS */
[data-tooltip] {
	position: 					relative;
	cursor: 					pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
	transition: 				.15s opacity ease;
	opacity: 					0;
	pointer-events: 			none;
}

[data-tooltip]:before {
	position: 					absolute;
	bottom: 					150%;
	left: 						50%;
	margin-bottom: 				5px;
	margin-left: 				-80px;
	padding: 					7px;
	width: 						160px;
	border-radius:         		3px;
	background-color: 			black;
	background-color: 			hsla(0, 0%, 20%, 0.9);
	color: 						#fff;
	content: 					attr(data-tooltip);
	text-align: 				center;
	font-size: 					14px;
	line-height: 				1.2;
}

[data-tooltip]:after {
	position: 					absolute;
	bottom: 					150%;
	left: 						50%;
	margin-left: 				-5px;
	width: 						0;
	border-top: 				5px solid #000;
	border-top: 				5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 				5px solid transparent;
	border-left: 				5px solid transparent;
	content: 					" ";
	font-size: 					0;
	line-height: 				0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	opacity: 					1;
}

/* INLINE MENUS */
.inline_menu {
	-webkit-animation-duration: .2s;
	animation-duration: 		.2s;
	display: 					none;
	position: 	 				absolute;
	box-shadow: 				-5px 5px 30px rgba(0, 0, 0, 0.1);
	top: 						100%;
	right: 						0;
	cursor: 					pointer;
	font-family:  				'Open Sans', sans-serif;
	background: 				inherit;
	font-size: 					18px;
	border-bottom-left-radius: 	5px;
}
.inline_menu > a {
	min-width: 					200px;
	transition: 				.15s background ease;
	text-align: 				left;
	padding: 					0px 20px;
	display:  					block;
}
.inline_menu > a:hover {
	background:					#F1FFD7;
	color:						#A5C466;
}
.inline_menu > a:last-child {
	border-bottom-left-radius: 	5px;
}
.inline_menu > a > i {
	margin-left: 				-10px;
}

/* OPEN MENU ON PARENT HOVER */
i:hover > .inline_menu {
	display: 					block;
}

#wrapper {
	margin: 					0 auto;
	max-width: 					1200px;
	width: 						90%;
}

#wrapper > #login {
	overflow: 					hidden;
	max-width: 					500px;
	margin: 					50px auto 0;
	background: 				#F1FFD7;
	color: 						#A5C466;
	border-radius: 				5px;
	-webkit-animation-duration:	.8s;
	animation-duration:			.8s;
	box-shadow: 				0 0 35px rgba(0, 0, 0, 0.1)
}
#wrapper > #login > #header {
	padding: 					10px 15px;
	display: 	 				block;
	font-size: 					16px;
}
#wrapper > #login > #header.error {
	background:  				#FF6347;
	color: 						rgba( 255, 255, 255, 0.7 );
}
#wrapper > #login > #header > i {
	margin-right: 				5px;
}
#wrapper > #login > #connect {

	border-top: 				2px solid #DCF4AD;
	padding: 					10px;

}
#wrapper > #login > #connect > form {
	display: 					flex;
	flex-direction: 			column;

}
#wrapper > #login > #connect > form > input {
	display: 					block;
	width: 						100%;
	margin: 					5px 0;
	padding: 					5px 10px;
	color: 						inherit;
	font-family:  				inherit;
	font-size: 					inherit;
	height: 					35px;
	background: 				none;
	border:						1px solid currentColor;
	border-radius: 				3px;
	transition: 				.2s background ease,
								.2s color ease;
}
#wrapper > #login > #connect > form > input[type="submit"] {
	cursor: 					pointer;
	background: 				#A5C466;
	color: 						#F1FFD7;
}
#wrapper > #login > #connect > form > input[type="submit"]:hover {
	color: 						#A5C466;
	background: 				#F1FFD7;
}


#wrapper > #menu,
#wrapper > #content {
	box-shadow: 				0 0 50px rgba(0, 0, 0, 0.1);
	color: 						#A5C466;
	font-size: 					18px;
	display: 					flex;
}

/*
	DASHBOARD
*/

#wrapper > #menu {
	background: 				#F1FFD7;
	z-index: 					1;
	position:  					fixed;
	padding: 					0;
	padding-left: 				10px;
	top: 						0;
	left: 						0;
	width: 						100%;
	line-height: 				40px;
	white-space: 				nowrap;
}

#wrapper > #menu > #logo {
	transition: 				.2s color ease;
	color: 						transparent;
	flex-basis: 				30px;
}
#wrapper > #menu > #logo > i {
	color:  					#A5C466;
}

#wrapper > #menu > #welcome {
	flex: 						1 0 auto;
	text-align: 				right;
}
#wrapper > #menu > #welcome > i {
	margin-left: 				10px;
	border-left: 				1px solid #E0EFC2;
	color: 						#FF6347;
	transition: 				.15s all ease;
	padding: 					0 15px;
	font-size: 					21px;
	cursor: 					pointer;
	line-height: 				inherit;
}
#wrapper > #menu > #welcome > i:hover {
	color: 						#F1FFD7;
	background:					#A5C466;
}


/* 	HEADING 	*/
#wrapper > #heading {
	text-align: 				center;
	font-size: 					20px;
	margin-top: 				60px;
	color: 						#F1FFD7;
	-webkit-animation-delay: 	.5s;
	animation-delay: 			.5s;
}
#wrapper > #heading > i {
	margin: 					0 10px;
	vertical-align: 			bottom;
	font-size: 					24px;
}

/* CONTENT */

#wrapper > #content {
	margin-top: 				20px;
	border-radius: 				5px;
	transition: 				.4s border-radius ease;
	justify-content: 			space-between;
	-webkit-animation-duration:	.5s;
	animation-duration:			.5s;
	background: 				#F1FFD7;
}
#wrapper > #content.choose {
	flex-wrap: 					wrap;
}

/* courses buttons */
#content .courses {
	display: 					block;
	transition: 				.2s opacity ease,
								.4s transform ease,
								.4s border-radius ease,
								.2s box-shadow ease;
	opacity:  					.7;
	width:						80px;
	height: 					80px;
	margin: 					10px;
	border-radius: 				5px;
	background: 				transparent url(../images/languages.png) no-repeat;
}

#content .courses.html {
	box-shadow: 				0 0 10px #e78359;
	background-position: 		0 0;
}
#content .courses.css {
	box-shadow: 				0 0 10px #549dc3;
	background-position: 		0 -85px;
}
#content .courses.php {
	box-shadow: 				0 0 10px #97a7c1;
	background-position: 		0 -170px;
}
#content .courses.mysql {
	box-shadow: 				0 0 10px #98cac1;
	background-position: 		0 -255px;
}
#content .courses.js {
	box-shadow: 				0 0 10px #91c389;
	background-position: 		0 -340px;
}

#content .courses:hover {
	opacity:  					.9;
	box-shadow: 				none !important;
	transform: 					scale( 1.1 );
}

/* BREADCRUMBS */
#lessons {
	width: 						100%;
}
#lessons > div {
	padding: 					10px 20px;
}
#lessons > #breadcrumbs {
	transition: 				.2s all ease;
	white-space: 				nowrap;
	overflow:  					hidden;
	line-height: 				20px;
	font-size: 					16px;
	border-top-right-radius: 	5px;
	border-top-left-radius: 	5px;
	background: 				#f4fde4;
	border-bottom: 				2px solid #dcf5ad;
}
#lessons > #breadcrumbs i.margin {
	margin-right: 				5px;
}
#lessons > #breadcrumbs > i.fa-angle-double-right {
	margin: 					0 10px;
	opacity:  					.5
}
#lessons > #breadcrumbs > i:last-of-type {
	display:  					none;
}

#lessons > #content {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 	5px;
	display: 					flex;
	flex-direction: 			column;
	padding: 					0;
}
#lessons > #content > #available {
	background: 				#AECA77;
	display:  					flex;
	flex: 						1 0 auto;
	flex-direction: 			column;
	white-space: 				nowrap;


	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 	5px;

}
#lessons > #content > #available.selected {
	display:  					none;
}
#lessons > #content > #available > a {
	transition: 				.2s color ease,
								.2s background ease;
	padding: 					12px 20px;
	font-size: 					.8em;
	color:						#F1FFD7;
}
#lessons > #content > #available > a:last-child {
	border-bottom-left-radius:  inherit;
}
#lessons > #content > #available > a.current {
	pointer-events: 			none;
	color: 						#A5C465;
	background: 				#F1FFD6;
	font-weight: 				bold;
}
#lessons > #content > #available > a:hover {
	color: 						#F1FFD6;
	background: 				#BDD592;
}
#lessons > #content > #container {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 	5px;
	padding: 					10px 20px;
}
#lessons > #content > #container.error {
	display:  					none;
	text-align: 				center;
	color: 						#FF6347;
	font-weight: 				bold;
}


/* 	SETTINGS  */
#account {
	width: 						100%;
}
#account > .group {
	padding: 					20px;
}
#account > .group .error {
	color: 						#FF6347;
}
#account > .group > .title {
	margin: 					20px 0 5px;
	font-size: 					20px;
	font-weight: 				bold
}
#account > .group:first-child > .title {
	margin-top: 				0;
}
#account > .group > .title > i {
	background: 				#A5C466;
	color: 						#F1FFD7;
	margin-right: 				5px;
	padding: 					5px;
	border-radius: 				5px;
}
#account > .group > .title.error > i {
	background: 				#FF6347;
}
#account > .group > .fields {
	margin-top: 				20px;
	margin-left: 				20px;
}
#account > .group > .fields.disabled {
	opacity:  					.3;
	pointer-events: 			none;
}
#account > .group > .fields > input {
	margin: 					0 0 10px;
	transition: 				.2s background ease,
								.2s color ease;
	background: 				none;
	border: 					1px solid currentColor;
	color: 						inherit;
	font-family:  				inherit;
	font-size: 					14px;
	border-radius: 				4px;
	padding: 					5px 10px;
}
#account > .group > .fields > input[type="submit"] {
	cursor: 					pointer;
	background: 				#A5C466;
	color: 						#F1FFD7;
}
#account > .group > .fields > input[type="submit"]:hover {
	color: 						#A5C466;
	background: 				#F1FFD7;
}
#account > .group > .fields .error.padded {
	padding: 					0 0 10px;
}
#account > .group > .fields .error.padded > i {
	margin-right: 				5px;
	border-radius: 				3px;
	background: 				#FF6347;
	color: 						#F1FFD7;
	padding: 					4px;
	font-size: 					15px;
}


#wrapper > #chat {
	width: 						80%;
	margin: 					0 auto;
	-webkit-animation-delay:	.5s;
	animation-delay:			.5s;
}
#wrapper > #chat > #actions {
	display:  					flex;
}
#wrapper > #chat > #actions > input {
	flex-grow: 					1;
	border: 					0;
	resize: 					none;
	border-radius: 				0;
	background: 				#F1FFD6;
	color: 						#9CBA5A;
	font-family: 				inherit;
	font-size: 					inherit;
	padding: 					10px;
	border-bottom-left-radius: 	5px;
	box-shadow: 				-2px 2px 10px rgba(113, 138, 63, 0.3) inset;
}
#wrapper > #chat > #actions > button {
	background: 				#AECA77;
	color: 						#F1FFD6;
	padding: 					0 15px;
	font-family: 				inherit;
	font-size: 					1.4em;
	cursor: 					pointer;
	border: 					0;
	border-radius: 				0;
	border-bottom-right-radius:	5px;
}
#wrapper > #chat > #actions > button:hover {
	background: 				#B8D188;
}
#wrapper > #chat > #replies {
	display:  					flex;
	flex-direction: 			column;
	margin-top: 				25px;
	position: 					relative;
}
#wrapper > #chat > #replies > .reply {
	-webkit-animation-duration: .2s;
	animation-duration: 		.2s;
	display:  					flex;
	align-items: 				flex-start;
	margin-top: 				10px;
}
#wrapper > #chat > #replies > .reply:first-child {
	margin-top: 				0;
}
#wrapper > #chat > #replies > .reply.self {
	flex-direction: 			row-reverse;
}
#wrapper > #chat > #replies > .reply > .avatar {
	background-repeat:  		no-repeat;
	background-position:  		center center;
	background-size: 			cover;
	flex: 						0 0 30px;
	height: 					30px;
	border-radius: 				50%;
	margin-right: 				10px;
}
#wrapper > #chat > #replies > .reply > .message {
	word-wrap: 					break-word;
	color: 						#F1FFD5;
	background: 				rgba(241, 255, 214, 0.19);
	width: 						50%;
	padding: 					4px 10px;
	border-radius: 				5px;
	position: 					relative;
}
#wrapper > #chat > #replies > .reply > .message:after {
	right: 						100%;
	top: 						9px;
	border: 					6px solid transparent;
	content: 					" ";
	height: 					0;
	width: 						0;
	position: 					absolute;
	border-color: 				transparent;
	border-right-color: 		rgba(241, 255, 214, 0.19);
}
#wrapper > #chat > #replies > .reply.self > .avatar {
	margin-left: 				10px;
}
#wrapper > #chat > #replies > .reply.self > .message:after {
	right: 						auto;
	left: 						100%;
	border-color: 				transparent;
	border-left-color: 			rgba(241, 255, 214, 0.19);
}



@media only screen and ( min-width: 650px ) {

	#wrapper > #login > #header {
		font-size: 					22px;
	}

	#wrapper > #login {
		margin: 					200px auto 0;
	}

	#wrapper > #login > #connect > form > input[type="submit"] {
		max-width: 					150px;
		margin: 					5px 0 0 auto;
	}


	#wrapper > #menu > #logo {
		color: 				 		inherit;
	}

	#wrapper > #content.choose {
		border-radius: 				80px;
	}

	#wrapper > #content .courses:first-child {
		flex-basis: 				70px;
		border-top-left-radius: 	80px;
		border-bottom-left-radius: 	80px;
	}
	#wrapper > #content .courses:last-child {
		flex-basis: 				75px;
		border-top-right-radius: 	80px;
		border-bottom-right-radius: 80px;
		background-position: 		-5px -340px;
	}
	#lessons > #content,
	#lessons > #content > #container {
		border-bottom-left-radius: 	0;
	}

	#lessons > #content {
		flex-direction: 			row;
	}

	#lessons > #breadcrumbs {
		line-height:  				40px;
		font-size: 					24px;
	}
	#lessons > #content > #available {
		flex: 						1 0 240px;
		max-width:  				240px;
		width: 						-moz-min-content;
		width: 						-webkit-min-content;
		width: 						min-content;
		border-bottom-right-radius:	0;
	}
	#lessons > #content > #available.selected {
		display:  					flex;
	}
	#lessons > #content > #container.error {
		display:  					block;
	}

	#account > .group > .title {
		font-size: 					30px;
	}
}